<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="lolreplayEntities" connectionString="metadata=res://*/lolreplay.csdl|res://*/lolreplay.ssdl|res://*/lolreplay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=59.175.142.184;Initial Catalog=lolreplay;Persist Security Info=True;User ID=DEV;Password=Password011!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>